.wizardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wizardControls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        padding: 10px 20px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }